cometchat/cache/**
cometchat/config.php*
cometchat/error.log
cometchat-cron*
engine/settings.php
engine/settings.php_*
.htaccess
htaccess_*
httpd-config
httpd-config/**
httpd_*
install.hidden-Bazinga
install.hidden-Bazinga/**
offline_*
mod/html_email_handler/.gitignore
mod/html_email_handler/.travis.yml
mod/html_email_handler/composer.json
mod/html_email_handler/composer.lock

