html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
	overflow-x: hidden;
}

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family: Arial,sans-serif;
}

.header {
	height:37px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d9e8fa), color-stop(1, #b8d7f5));
	padding:0;
	margin: 0;
	color:#eee;
	border-bottom: 1px solid #9db9d7;
	color: #46627b;
	text-shadow: 1px 1px 1px #ffffff;
	font-weight: bold;
	padding-bottom: 10px;
}

.roundedtitle {
	border: 1px solid #9dc6d7;
	padding: 7px;
	font-size: 14px;
	color: #345b69;
	width: 290px;
    -webkit-border-radius: 5px;
	text-shadow: 1px 1px 1px #ffffff;
	background: #f1f8fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
}

.header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

.footer {
	background: #f1f8fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
	border-top:1px solid #9dc6d7;
}

input {
	padding: 7px;
	font-size: 14px;
	color: #345b69;
	width: 290px;
}

#wrapper {
	width:100%;
	background:#aaa;
}

#scroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#scroller li > a {
	display:block;
}

#chatwindow {
	display: none;
}

#cwwrapper {
	width:100%;
	background:#aaa;
	overflow:hidden;
}

#cwscroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}

#cwscroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#cwscroller li {
	padding:7px 10px;
	line-height:17px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#cwscroller li > a {
	display:block;
}

.roundedleft {
	margin-left: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	border: 1px solid #9dc6d7;
	padding: 7px;
	padding-right: 0px;
	font-size: 14px;
	color: #345b69;
	width: 20px;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	text-shadow: 1px 1px 1px #ffffff;
	background: #f1f8fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
	float:left;
	padding-right:0px;
	border-right:0px;
	text-align:center;
}

.roundedcenter {
	margin-top: 7px;
	margin-bottom: 7px;
	border: 1px solid #9dc6d7;
	padding: 7px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14px;
	color: #345b69;
	width: 250px;
	text-shadow: 1px 1px 1px #ffffff;
	background: #f1f8fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
	float:left;
	border-left:0px;
	border-right:0px;
	text-align:center;
}

.roundedright {
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	border: 1px solid #9dc6d7;
    -webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-left:0px;
	padding: 7px;
	font-size: 14px;
	color: #345b69;
	width: 20px;
	text-shadow: 1px 1px 1px #ffffff;
	background: #f1f8fc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
	float:left;
	padding-left: 0px;
	text-align:center;
}

.avatarimage {
	height: 20px;
	margin-right: 10px;
	vertical-align: -5px;
}

#cometchat, #cometchat_tooltip { display: none; }

.newmessages {
	color: #ccc;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
 	padding:0;
	margin:0;
	width: 20px;
	height: 20px;
	font-weight: bold;
	color: #000;
}

.status {
	color: #ccc;
	position: absolute;
	right: 70px;
	top: 0px;
	display: block;
 	padding:0;
	margin:0;
	width: 20px;
	height: 20px;
	font-weight: bold;

}

.onlinelist {
	position: relative;
}

#spacer {
	height: 2000px;
}

#cometchat_tooltip {
	display: none !important;
}

.selfmessage {
	color: #666;
}

body {
	display: none;
	background: #d3ecfe;
}

#chatmessage {
	height: 16px;
	margin: 7px;
}