/* line 3, ../sass/component-lists.scss */
ul.no-bullets {
  margin: 0;
}
/* line 5, ../sass/component-lists.scss */
ul.no-bullets > li {
  padding: 0 10px 0 0;
  list-style: none;
}

/* line 11, ../sass/component-lists.scss */
ul.hor-list li {
  margin-right: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 15, ../sass/component-lists.scss */
ul.hor-list li.active a {
  color: #000;
  font-weight: bold;
}

/* line 24, ../sass/component-lists.scss */
.image-list li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 29, ../sass/component-lists.scss */
.activity-list li {
  margin: 0 0 15px;
  overflow: hidden;
}
/* line 33, ../sass/component-lists.scss */
.activity-list img {
  float: left;
  margin: 0;
}
/* line 37, ../sass/component-lists.scss */
.activity-list .data-cont {
  margin-top: -2px;
  margin-left: 60px;
}
/* line 40, ../sass/component-lists.scss */
.activity-list .data-cont p {
  margin: 0 0 5px;
  line-height: 1.4em;
}

/* line 47, ../sass/component-lists.scss */
.details-list {
  margin: 0;
  padding: 20px;
}
/* line 50, ../sass/component-lists.scss */
.details-list .data-cont {
  margin-left: 90px;
  font-size: 11px;
}
/* line 53, ../sass/component-lists.scss */
.details-list .data-cont p {
  margin-bottom: 8px;
  line-height: 1em;
}
/* line 56, ../sass/component-lists.scss */
.details-list .data-cont p.name {
  margin: 0 0 -2px;
  font-size: 13px;
  font-weight: bold;
}

/* line 65, ../sass/component-lists.scss */
ul.type-list {
  padding: 0 20px;
  margin-bottom: -1px;
}
/* line 68, ../sass/component-lists.scss */
ul.type-list li {
  padding-bottom: 15px;
}
/* line 70, ../sass/component-lists.scss */
ul.type-list li.active {
  position: relative;
}
/* line 72, ../sass/component-lists.scss */
ul.type-list li.active:before, ul.type-list li.active:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  position: absolute;
  bottom: 0;
}
/* line 79, ../sass/component-lists.scss */
ul.type-list li.active:before {
  margin-left: -5px;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #d8dfea transparent;
  left: 50%;
  z-index: 1;
}
/* line 86, ../sass/component-lists.scss */
ul.type-list li.active:after {
  margin-left: -4px;
  border-width: 0 4.5px 6px 4.5px;
  border-color: transparent transparent #ffffff transparent;
  left: 50%;
  z-index: 2;
}

/* line 97, ../sass/component-lists.scss */
ul.pagination {
  padding: 10px 20px;
  background: #efefef;
}
/* line 100, ../sass/component-lists.scss */
ul.pagination li {
  margin: 0;
  padding: 0 2px;
  text-transform: uppercase;
  font-size: 11px;
}
