/* line 3, ../sass/region-header.scss */
#site-search {
	margin-top: 8px;
}
#gcwu-mnavbar {
  display: none;
}

/* line 7, ../sass/region-header.scss */
#gcwu-bnr {
  background: #597cab;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80aacf), color-stop(100%, #597cab));
  background-image: -webkit-linear-gradient(#80aacf, #597cab);
  background-image: -moz-linear-gradient(#80aacf, #597cab);
  background-image: -o-linear-gradient(#80aacf, #597cab);
  background-image: linear-gradient(#80aacf, #597cab);
}

/* line 11, ../sass/region-header.scss */
#gcwu-bnr-in {
  position: relative;
  background: transparent;
}
/* line 14, ../sass/region-header.scss */
#gcwu-bnr-in > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 19, ../sass/region-header.scss */
.button-cont.site-actions {
  margin: 8px 15px 0 20px;
}
/* line 22, ../sass/region-header.scss */
.button-cont .button {
  margin-right: 5px;
  cursor: pointer;
}
/* line 26, ../sass/region-header.scss */
.button-cont.site-settings {
  position: absolute;
  top: 12px;
  right: 0;
}

/* line 33, ../sass/region-header.scss */
#gcwu-title-in {
  width: auto;
}

/* line 38, ../sass/region-header.scss */
#site-search h2 {
  display: none;
}
/* line 41, ../sass/region-header.scss */
#site-search form {
  margin: 0;
}

@media screen and (max-width: 959px), screen and (max-device-width: 1023px) {
  /* line 47, ../sass/region-header.scss */
  #gcwu-bnr-in {
    padding-bottom: 1px;
  }
  /* line 49, ../sass/region-header.scss */
  #gcwu-bnr-in > div {
    display: block;
  }
  /* line 52, ../sass/region-header.scss */
  #gcwu-bnr-in #site-search {
    margin-left: 10px;
  }
  /* line 55, ../sass/region-header.scss */
  #gcwu-bnr-in .button-cont {
    margin: 10px;
  }
  /* line 57, ../sass/region-header.scss */
  #gcwu-bnr-in .button-cont.site-settings {
    position: static;
  }
}
/*
* Make the FIP smaller
*/
@media screen and (min-device-width: 1024px) and (min-width: 960px) {
  /* line 68, ../sass/region-header.scss */
  #gcwu-gcnb, #gcwu-gcnb-fip {
    min-height: 80px;
  }
}
